.dialogs {
      display: grid;
      grid-template-columns: 2fr 10fr;
      color: aliceblue;
}

.dialogsItems {
      padding: 10px;
}
.dialogsItems .dialog.active {
}

.dialog {
}

.messagesItems {
      padding: 10px;
}
